defaults:
  - _self_
  - encoder: encoder1d_stft
  - decoder: decoder2d_stft

_target_: models.models.multi_level_vqvae.ml_vqvae.MultiLvlVQVariationalAutoEncoder
input_channels: 1
vq_module:
  _target_: models.models.multi_level_vqvae.blocks.VQ1D
  token_dim: 2048
  num_tokens: 4096
  num_rq_steps: 1
loss_aggregator: ${loss.aggregator}

